body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

#icon-browser {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

#controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#icon-search {
    flex: 1;
    padding: 12px;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

#category-filter {
    flex: 0.5;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

#icon-gallery {
    display: block;
}

.icon-card {
    text-align: left;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.icon-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
    line-height: 12px;
    font-size: 12px;
    
}

.icon-card p strong {
    color: #000;
    font-weight: bold;
    
}

.icon-card-content {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 10px 0;
}

.icon-column {
    flex: 1;
    text-align: center;
    background-color: #efefef;
    border-radius: 5px;
    padding: 15px 10px 20px;
    margin: 10px 0px;
}

.icon-column img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;

}

.icon-column a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 700;
    background-color: #0A1324;
    border-radius: 4px;
    padding: 2px 6px;


}

.icon-column a:hover {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 700;
    background-color: #146FF4;
    border-radius: 4px;
    padding: 2px 6px;


}

.description {
    text-transform: capitalize;
    font-size: 12px;
    color:#656A76;
    font-family: "Noto Sans Mono", serif;
    font-weight:400;
}
.category {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 11px;
    letter-spacing: 1px;
    color:#93979F;
    display: inline-block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 25px;
    max-width: 1500px;
    margin: 0 auto;
    color: white;
  }
  .header-wrapper{
    background-color: #0A1324;
  }

  @font-face {
    font-family: 'PatronWeb';
    src: url('./fonts/PatronWEB-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'PatronWeb';
    src: url('./fonts/PatronWEB-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  body {
    font-family: 'PatronWeb', Arial, sans-serif;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 40px;
  }
.type{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 11px;
    letter-spacing: 1px;
    color:#93979F;

}
.copy-btn {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: #0056b3;
}
.category-section {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.category-title {
    font-size: 24px;
    margin-bottom: 0px;
    border-top: 2px solid #ddd;
    padding-top: 30px;
    color: #333;
    grid-column: 1 / -1;
}